# Imports

In [24]:
import pandas as pd
import lcanalyzer.models as models

SyntaxError: invalid syntax (1773147580.py, line 3)

# Params

In [13]:
# Define the bands names
bands = 'ugrizy'
colname_mag = 'psfMag'

# Data loading

In [14]:
lc_datasets = {}
lc_datasets['lsst'] = pd.read_csv('data/lsst_RRLyr.csv')

# Data inspection

In [15]:
lc_datasets['lsst'].info()
lc_datasets['lsst'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11177 entries, 0 to 11176
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11177 non-null  int64
 1   band         11177 non-null  object
 2   ccdVisitId   11177 non-null  int64
 3   coord_ra     11177 non-null  float64
 4   coord_dec    11177 non-null  float64
 5   objectId     11177 non-null  int64
 6   psfFlux      11177 non-null  float64
 7   psfFluxErr   11177 non-null  float64
 8   psfMag       10944 non-null  float64
 9   ccdVisitId2  11177 non-null  int64
 10  band2        11177 non-null  object
 11  expMidptMJD  11177 non-null  float64
 12  zeroPoint    11177 non-null  float64
dtypes: float64(7), int64(4), object(2)
memory usage: 1.1+ MB

,Unnamed: 0,band,ccdVisitId,coord_ra,coord_dec,objectId,psfFlux,psfFluxErr,psfMag,ccdVisitId2,band2,expMidptMJD,zeroPoint
0,0,y,1032263018,62.462569,-44.11336,1251384969897480052,-515.183603,1697.218490,NaN,1032263018,y,61100.069706,30.6023
1,1,y,1033987172,62.462569,-44.11336,1251384969897480052,3151.738459,1686.955775,22.653625,1033987172,y,61102.068464,30.6061
2,2,u,675163080,62.462569,-44.11336,1251384969897480052,183.449123,209.242045,25.741211,675163080,u,60582.247144,30.4691
3,3,y,443055067,62.462569,-44.11336,1251384969897480052,-704.848327,1624.400086,NaN,443055067,y,60215.203585,30.6128
4,4,u,466722002,62.462569,-44.11336,1251384969897480052,382.472233,278.926670,24.943500,466722002,u,60261.078221,30.4612

# Selecting light curves for a single object

In [16]:
### Pick an object
obj_id = lc_datasets['lsst']['objectId'].unique()[4]
### Get all the observations for this obj_id for each band
# Create an empty dict
lc = {}
# For each band create a bool array that indicates
# that this observation belongs to a certain object and is made in a
# certain band
for b in bands:
    filt_band_obj = (lc_datasets['lsst']['objectId'] == obj_id) & (
        lc_datasets['lsst']['band'] == b
    )
    # Select the observations and store in the dict 'lc'
    lc[b] = lc_datasets['lsst'][filt_band_obj]

# Trying the model.py functions

In [17]:
models.max_mag(lc['g'], colname_mag)

19.183367224358136

# Test development If we need something else, we can always add it later.

In [18]:
test_input = pd.DataFrame(data=[[1, 5, 3], [7, 8, 9], [3, 4, 1]], columns=list("abc"))
test_output = 7
models.max_mag(test_input, "a") == test_output

True

In [21]:
### Get maximum values for all bands
def calc_stat(lc, bands, mag_col):
    # Define an empty dictionary where we will store the results
    stat = {}
    # For each band get the maximum value and store it in the dictionary
    for b in bands:
        stat[b + "_max"] = models.max_mag(lc[b], mag_col)
    return stat

df1 = pd.DataFrame(data=[[1, 5, 3], [7, 8, 9], [3, 4, 1]], columns=list("abc"))
df2 = pd.DataFrame(data=[[7, 3, 2], [8, 4, 2], [5, 6, 4]], columns=list("abc"))
df3 = pd.DataFrame(data=[[2, 6, 3], [1, 3, 6], [8, 9, 1]], columns=list("abc"))
test_input = {"df1": df1, "df2": df2, "df3": df3}
test_output = {"df1_max": 8, "df2_max": 6, "df3_max": 9}
test_output == calc_stat(test_input, ["df1", "df2", "df3"], "b")

True